body { background: #835139; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 59px; display: flex; }
.block-shipping-0 { color: #ded1cd; font-size: 19px; margin-bottom: 5px; }
.block-validator-1 { color: #49ab82; font-size: 20px; margin-bottom: 5px; }
.block-token-2 { color: #345854; font-size: 16px; margin-bottom: 5px; }
.block-shipping-3 { color: #9c4f16; font-size: 19px; margin-bottom: 5px; }
.block-product-4 { color: #a4d8f1; font-size: 12px; margin-bottom: 5px; }
.block-invoice-5 { color: #4ff943; font-size: 14px; margin-bottom: 5px; }
.block-logger-6 { color: #fd9772; font-size: 20px; margin-bottom: 5px; }
.block-token-7 { color: #6b4f71; font-size: 16px; margin-bottom: 5px; }